@font-face {
    font-family: 'norsebold';
    src: url('fonts/norsebold-webfont.woff2') format('woff2'),
        url('fonts/norsebold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


:root {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    /* 1 rem = 10px */
    font-size: 62.5%;

    --signup-footer-color: #596D48;
    --input-border-default-color: #E5E7EB;
    --hero-text-color: white;
    --banner-font-size: 8rem;
}

body {
    font-size: 1.6rem;
    height: 100vh;

    display: flex;
}


/* || Left banner */

.hero {
    position: relative;
    min-width: fit-content;
    max-width: fit-content;
}

.hero .bg {
    height: 100%;
}

.hero .banner {
    position: absolute;
    top: 15%;
    width: 100%;

    background-color: rgba(0, 0, 0, 0.4);

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    gap: 1rem;
}

.hero .banner h1 {
    font-family: "norsebold";
    font-size: var(--banner-font-size);
    color: var(--hero-text-color);
}

.hero .icon {
    height: calc(var(--banner-font-size) * 1.8);
}

.hero .img-attribution {
    font-size: 2rem;
    color: var(--hero-text-color);

    position: absolute;
    bottom: 3rem;

    /* Center text */
    left: 0;
    right: 0;
    width: fit-content;
    margin-inline: auto;

    /* For overflow when font size is too large */
    text-align: center;
}

.hero .img-attribution [href] {
    color: var(--hero-text-color);
}

/* || Sign-up */
.sign-up {
    background-color: #eee;

    display: flex;
    flex-direction: column;

    overflow: auto;
}

.sign-up > * {
    padding: 5rem;
}

.sign-up .text {
    font-size: 2.5rem;
    font-weight: bold;
    max-width: 75ch;
}

.sign-up .header {
    flex: 1;

    display: flex;
    flex-direction: column;
    justify-content: end;
}

.sign-up form {
    flex: 2;
    background-color: #fff;
}

.sign-up .inputs {
    margin-top: 3rem;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}

.sign-up .inputs > div {
    display: flex;
    flex-direction: column;
}

.sign-up form label {
    color: rgb(100, 100, 100);
    font-weight: bold;
}

.sign-up .footer {
    flex: 1;
}

.sign-up .footer button {
    background-color: var(--signup-footer-color);
    color: white;
    padding: 1rem 3rem;
    border: none;
    border-radius: 10px;

}

.sign-up .footer .login {
    margin-top: 3rem;
}

.sign-up .footer [href] {
    color: var(--signup-footer-color);
    text-decoration: none;
}